* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(26, 214, 98, 0.5)), url('./img/pexels-pixabay-50987.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.banner-text {
    color: white;
    text-align: center;
    padding-top: 200px;
    position: relative;
}
.banner-text h1 {
    font-size: 50px;
    font-weight: 700;
}
.banner-text p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}
.banner-btn {
    margin: 70px auto 0;
}
.banner-btn a {
    width: 150px;
    color: white;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border: 0.5px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span {
    position: absolute;
    width: 0;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span {
    width: 100%;
}
.banner-btn a:hover {
    color: black;
}

#nav-bar {
    background: #1ad662;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    padding-top: 1rem ;
}

nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

#features {
    padding: 100px 0;
    background-color: #f9f9f9;
}

#features h2 {

    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.feature-row {
    text-align: center;
    margin: 0 20px;
}
.feature-row feature-col p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}
