* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.background img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    z-index: -1;
}

.flex_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact_form {
    background-color: #dff7e7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.contact_form h2 {
    margin-bottom: 20px;
}

.contact_form input[type="text"],
.contact_form input[type="password"], 
.contact_form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact_form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact_form button[type="submit"]:hover {
    background-color: #3e8e41;
}

.contact_form button[type="submit"]:active {
    background-color: #3e8e41;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}

.contact_form p {
    margin-top: 20px;
}

.contact_form p a {
    color: #4CAF50;
    text-decoration: none;
}

.contact_form p a:hover {
    text-decoration: underline;
}
